<div id="footer-inner">
  <ul>
    <li>
      <a class="list-title" href="/pages/about/greetings.html">About</a>
      <ul>
        <li>
          <a href="/pages/about/greetings.html">Greetings</a>
        </li>
        <li>
          <a href="/pages/about/vision.html">Vision</a>
        </li>
        <li>
          <a href="/pages/about/location_contact.html">Location & Contact</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="list-title" href="/pages/people/faculty.html">People</a>
      <ul>
        <li>
          <a href="/pages/people/faculty.html">Faculty</a>
        </li>
        <li>
          <a href="/pages/people/staff.html">Staff</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="list-title" href="/pages/research/func_nano.html">Research</a>
      <ul>
        <li>
          <a href="/pages/research/func_nano.html">Functional Nanomaterials</a>
        </li>
        <li>
          <a href="/pages/research/int_immun.html">Integrated immunology</a>
        </li>
        <li>
          <a href="/pages/research/comp_materials_des.html">Computational Materials Design</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="list-title" href="/pages/academics/admissions.html">Academics</a>
      <ul>
        <li>
          <a href="/pages/academics/admissions.html">Admission</a>
        </li>
        <li>
          <a href="/pages/academics/curriculum.html">Curriculum</a>
        </li>
        <li>
          <a href="/pages/academics/scholarships.html">Scholarships</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="list-title" href="/pages/news/notice.html">News & Notices</a>
      <ul>
        <li>
          <a href="/pages/news/notice.html">Notice</a>
        </li>
        <li>
          <a href="/pages/news/news_events.html">News & Events</a>
        </li>
        <li>
          <a href="/pages/news/research_highlights.html">Research Highlights</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div id="footer-outer">
  <div class="flex-left">
    <a href="https://yonsei.ac.kr" target="_blank">
      <img class="yonsei-logo" src="/img/logo.jpg" alt="Yonsei University Logo">
    </a>
    <a href="/pages/others/privacy_policy.html">Privacy Policy</a>
    <a id="footer-logo" href="/pages/others/legal_notice.html">Legal Notice</a>
  </div>
  <address>
    <p>Contact: +82-32-749-3710      Email: uic_invse@yonsei.ac.kr</p>
    <p>Address: Underwood International College, Yonsei University 85 Songdogwahak-ro, Yeonsu-gu, Incheon 21983, Republic of Korea</p>
    <p>Copyrights(c)2023 Department of Innovative Science and Engineering. All rights reserved.</p>
  </address>
</div>