<header>
  <div id="header-left-container">
    <div class="flex-left"> <!-- Desktop & Tablet view -->
      <a href="https://yonsei.ac.kr" target="_blank">
        <img class="yonsei-logo" src="/img/logo.jpg" alt="Yonsei University Logo">
      </a>
      <div class="vertical-line"></div>
      <a href="/index.html">Innovative Science<br>and Engineering</a> <!--이곳에 홈페이지 주소를 넣어주세요-->
    </div>
    <div> <!-- Mobile View -->
      <a href="/index.html">
        <img class="yonsei-logo" src="/img/mobile_logo.png" alt="ISED logo" /> <!--이곳에 홈페이지 주소를 넣어주세요-->
      </a>
    </div>
  </div>
  <div id="header-right-container">
    <div id="header-menu">
      <ul>
        <li>
          <button class="dropdown-button list-title">
            <a href="/pages/about/greetings.html">About</a>
          </button>
          <div class="dropdown-menu">
            <a href="/pages/about/greetings.html">Greeting</a>
            <a href="/pages/about/location_contact.html">Location & Contact</a>
            <a href="/pages/about/vision.html">Vision</a>
          </div>
        </li>
        <li>
          <button class="dropdown-button list-title">
            <a href="/pages/people/faculty.html">People</a>
          </button>
          <div class="dropdown-menu">
            <a href="/pages/people/faculty.html">Faculty</a>
            <a href="/pages/people/staff.html">Staff</a>
          </div>
        </li>
        <li>
          <button class="dropdown-button list-title">
            <a href="/pages/research/func_nano.html">Research</a>
          </button>
          <div class="dropdown-menu">
            <a href="/pages/research/func_nano.html">Functional Nanomaterials</a>
            <a href="/pages/research/int_immun.html">Integrated immunology</a>
            <a href="/pages/research/comp_materials_des.html">Computational Materials Design</a>
          </div>
        </li>
        <li>
          <button class="dropdown-button list-title">
            <a href="/pages/academics/admissions.html">Academics</a>
          </button>
          <div class="dropdown-menu">
            <a href="/pages/academics/admissions.html">Admission</a>
            <a href="/pages/academics/curriculum.html">Curriculum</a>
            <a href="/pages/academics/scholarships.html">Scholarships</a>
          </div>
        </li>
        <li>
          <button class="dropdown-button list-title">
            <a href="/pages/news/notice.html">News & Notice</a>
          </button>
          <div class="dropdown-menu">
            <a href="/pages/news/notice.html">Notice</a>
            <a href="/pages/news/news_events.html">News & Events</a>
            <a href="/pages/news/research_highlights.html">Research Highlights</a>
          </div>
        </li>
      </ul>
    </div>
    <button id="mobile-navbton">
      <div class="horizontal-line"></div>
      <div class="horizontal-line"></div>
      <div class="horizontal-line"></div>
    </button>
    <section id="mobile-nav" class="hidden">
      <ul>
        <li>
          <a href="/pages/about/greetings.html">About</a>
          <div>
            <a href="/pages/about/greetings.html">Greeting</a>
            <a href="/pages/about/location_contact.html">Location & Contact</a>
            <a href="/pages/about/vision.html">Vision</a>
          </div>
        </li>
        <li>
          <a href="/pages/people/faculty.html">People</a>
          <div>
            <a href="/pages/people/faculty.html">Faculty</a>
            <a href="/pages/people/staff.html">Staff</a>
          </div>
        </li>
        <li>
          <a href="/pages/research/func_nano.html">Research</a>
          <div>
            <a href="/pages/research/func_nano.html">Functional Nanomaterials</a>
            <a href="/pages/research/int_immun.html">Integrated immunology</a>
            <a href="/pages/research/comp_materials_des.html">Computational Materials Design</a>
          </div>
        </li>
        <li>
          <a href="/pages/academics/admissions.html">Academics</a></button>
          <div>
            <a href="/pages/academics/admissions.html">Admission</a>
            <a href="/pages/academics/curriculum.html">Curriculum</a>
            <a href="/pages/academics/scholarships.html">Scholarships</a>
          </div>
        </li>
        <li>
          <a href="/pages/news/notice.html">News & Notice</a>
          <div>
            <a href="/pages/news/notice.html">Notice</a>
            <a href="/pages/news/news_events.html">News & Events</a>
            <a href="/pages/news/research_highlights.html">Research Highlights</a>
          </div>
        </li>
      </ul>
    </section>
  </div>
</header>