<header>
  <div id="header-left-container">
    <div class="flex-left"> <!-- Desktop & Tablet view -->
      <a href="https://yonsei.ac.kr" target="_blank">
        <img class="yonsei-logo" src="/img/logo.jpg" alt="Yonsei University Logo">
      </a>
      <div class="vertical-line"></div>
      <a href="/index.html">Innovative Science<br>and Engineering</a> <!--이곳에 홈페이지 주소를 넣어주세요-->
    </div>
    <div> <!-- Mobile View -->
      <a href="/index.html">
        <img class="yonsei-logo" src="/img/mobile_logo.png" alt="ISED logo" /> <!--이곳에 홈페이지 주소를 넣어주세요-->
      </a>
    </div>
  </div>
  <div id="header-right-container">
    <div id="header-menu">
      <ul>
        <li>
          <a class="list-title" href="/pages/about/greetings.html">About</a>
        </li>
        <li>
          <a class="list-title" href="/pages/people/faculty.html">People</a>
        </li>
        <li>
          <a class="list-title" href="/pages/research/func_nano.html">Research</a>
        </li>
        <li>
          <a class="list-title" href="/pages/academics/admissions.html">Academics</a>
        </li>
        <li>
          <a class="list-title" href="/pages/news/notice.html">News & Notices</a>
        </li>
      </ul>
    </div>
    <button class="menu-button" class="dropdown-button">
      <div class="horizontal-line"></div>
      <div class="horizontal-line"></div>
      <div class="horizontal-line"></div>
    </button>
  </div>
</header>