/* Sets the page height */
body {
  height: 5205px;
}

h3 {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
}

h1 {
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
}


#background-img {
  position: absolute;
  height: 802px;
  left: 50%;
  transform: translate(-50%,0);
  top: 80px;
  z-index: -2;
}

/* Extpand background image when screen is bigger*/
@media (min-width: 1367px) {
  #background-img {
    width: 100%;
    height: auto;
  }
}

#white-gradient-cover {
  position: absolute;
  top: 850px;
  left: 0px;
  height: 4000px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 20px 20px white;
  z-index: -1;
}

main {
  display: grid;
  grid-template-columns: 534px 1fr;
  grid-template-rows: 1100px 400px 322px 300px 300px;
  height: 100%;
  padding: 60px 136px 0 136px;
  z-index: 2;
}

#top-blue-container {
  background-color: #003377;
  height: 306px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

#top-blue-container a {
  color: white;
  text-decoration: underline;
}

#title-section > h2 { /* '연세대학교 혁신과학공학과' */
  font-family: Pretendard;
  font-size: 30px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0.02em;
  width: 100%;
  height: auto;
  text-align: center;
  color: #003377;
  margin: 1em 0 1em 0;
}

#bottom-blue-container {
  height: 627px;
  background-color: #003377;
  color: white;
  gap: 20px;
}

#bottom-blue-container button { /*Apply button*/
  border: 1px solid white;
  background-color: #003377;
  color: white;
  width: 13em;
  height: 44px;
  margin-top: 3%;
}

#bottom-blue-container img {
  height: 92px;
  width: 58px;
  margin: 5vw;
}

#bottom-blue-container h2 {
  margin-top: 40%;
}

#majors-section {
  background-color: white;
  width: 110%;
  grid-column: auto / span 2;
  margin-left: -5%;
}

#majors-section ul {
  grid-template-columns: 1fr;
}

#majors-section li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;
  font-size: 3em;
  font-weight: 700;
  width: 100%;
  max-width: 1000px;
}

#research-highlights-blue-container {
  background-color: #003377;
  height: 323px;
  color: white;
}

#research-highlights-blue-container * {
  padding-left: 1.875em;
  position: relative;
  top: 70%;
}

#research-highlights-blue-container + a {
  position: relative;
  top: 75%;
  left: min(90%, 325px);
}

#research-highlights-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1.875em;
  width: 100%;
  height: 100%;
}

.research-card h3 {
  color: black;
}

#footer-container {
  position: absolute;
  top: 4900px;
}

@media (min-width: 751px) {
  #top-blue-container * {
    padding-left: 30px;
  }
}

@media (max-width: 750px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 60px 15% 0 15%;
  }

  h1 {
    font-size: 7vw;
  }

  a {
    font-size: 3vw;
  }

  #title-section > h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 4vw;
  }

  #top-blue-container {
    justify-items: center;
  }

  #top-blue-container a {
    padding-bottom: 20px;
  }

  #majors-section li {
    font-size: 5vw;
    text-align: left;
  }

  #majors-section ul {
    grid-gap: 1.875em;
  }

  .h-arrow {
    width: 4em;
  }

  #research-highlights-blue-container * {
    padding-left: 0;
  }
}

@media (max-width: 340px) {
  #top-blue-container {
    height: 250px;
  }

  #bottom-blue-container button{
    width: 60%;
  }
}