h3 {
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: white;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: -0.02em;
  color: white;
}

#background-img-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#background-img {
  position: absolute;
  height: 802px;
  left: 50%;
  transform: translate(-50%,0);
  top: 80px;
  z-index: -2;
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
}

/* Extpand background image when screen is bigger*/
@media (min-width: 1367px) {
  #background-img {
    width: 100%;
    height: auto;
  }
}

#white-gradient-cover {
  position: absolute;
  top: 850px;
  left: 0px;
  height: 4000px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 20px 20px white;
  z-index: -1;
}

main {
  display: grid;
  grid-template-columns: 534px 1fr;
  grid-template-rows: max-content max-content max-content max-content max-content 1fr;
  gap: 2em;
  height: 100%;
  padding: 60px 136px 0 136px;
  z-index: 2;
}

#top-blue-container {
  background-color: #003377;
  height: 320px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

#top-blue-container a {
  color: white;
  text-decoration: underline;
}

#title-section > h2 { /* '연세대학교 혁신과학공학과' */
  font-family: Pretendard;
  font-size: 30px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0.02em;
  width: 100%;
  height: auto;
  text-align: center;
  color: #003377;
  margin: 2em 0 2em 0;
  text-shadow: white 20px 0 10px;
}

#bottom-blue-container {
  height: 640px;
  background-color: #003377;
  color: white;
  gap: 20px;
  position: relative;
}

#bottom-blue-container button { /*Apply button*/
  border: 1px solid white;
  background-color: #003377;
  color: white;
  width: 13em;
  height: 44px;
  position: absolute;
  top: 20%;
}

#bottom-blue-container img {
  height: 92px;
  width: 58px;
  position: absolute;
  top: 35%;
}

#bottom-blue-container h2 {
  position: absolute;
  top: 80%;
}

#majors-section {
  background-color: white;
  width: 100%;
  grid-column: auto / span 2;
}

#majors-section ul {
  grid-template-columns: 1fr;
  Height: 90%;
  align-items: center;
}

#majors-section li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;
  font-size: 2.7em;
  font-weight: 700;
  width: 100%;
  /* max-width: 1000px; */
}

#research-highlights-blue-container {
  background-color: #003377;
  height: 323px;
  color: white;
}

#research-highlights-blue-container * {
  padding-left: 1.875em;
  position: relative;
  top: 70%;
}

#research-highlights-blue-container + a {
  position: relative;
  top: 75%;
  justify-self: end;
}

#research-highlights-section {
  grid-column: auto / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1.875em;
  margin-top: -2em;
}

#research-highlights-section img {
  width: 100%;
}

.research-card h3 {
  color: black;
}

#news-events-section {
  grid-column: auto / span 2;
  display: grid;
  grid-template-columns: 534px 534px;
  gap: 2em;
  color: white;
}

hr {
  color: white;
  width: 80%;
  border: 1px solid white;
}

.ne-container {
  background-color: #003377;
  height: 628px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ne-container img {
  width: 64px;
}

.ne-container a {
  margin-top: 2em;
  position: absolute;
  top: 85%;
  left: 80%;
}

.ne-date {
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1.125em;
}

.img-card {
  position: relative;
}

.img-card div {
  position: absolute;
  top: 2.5em;
  left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-card img {
  width: 100%;
  object-fit: cover;
}

#img-card-1 {
  margin-bottom: 2em;
}

#img-card-1 div {
  top: 50%;
  left: 25%;
  transform: translate(-25%,-50%);
}

#img-card-1 div a {
  color: white;
  text-decoration: underline;
}

#img-card-2 {
  margin-top: 2em;
}

#img-card-2 div {
  flex-direction: row;
  align-items: flex-end;
  height: 85%;
  width: 85%;
}

#img-card-2 a img {
  width: 64px;
  position: relative;
  top: 100%;
}

#others-section {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2em 0 2em 0;
  gap: 1.875em;
}

#others-section span {
  background-color: #003377;
  height: 186px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#others-section span:last-child { /* White background for 'ise' */
  background-color: white;
}

#others-section span a {
  color: white;
  text-align: center;
}

#others-section svg {
  width: 100%;
}

@media (min-width: 751px) {
  #top-blue-container * {
    padding-left: 30px;
  }
}

/* Adjust the columns of news & events section */
@media (max-width: 1245px) {
  #news-events-section {
    display: flex;
    flex-direction: column;
    grid-column: auto / span 1;
  }
}

/* Overall adjustment */
@media (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 60px 15% 0 15%;
  }

  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 4vw;
  }

  a {
    font-size: 1em;
  }

  #title-section > h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 4vw;
  }

  #top-blue-container {
    justify-items: center;
  }

  #top-blue-container a {
    padding-bottom: 20px;
  }

  #majors-section, #research-highlights-section {
    width: 110% !important;
    margin-left: -5%;
  }

  #majors-section li {
    font-size: 5vw;
    text-align: left;
  }

  #majors-section ul {
    grid-gap: 1.875em;
  }

  .h-arrow {
    width: 4em;
  }

  /* Hide the blue arrow and show the white arrow */
  #research-highlights-blue-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    min-height: 230px;
    position: relative;
    padding-bottom: 20px;
  }

  #research-highlights-blue-container * {
    padding-left: 0;
    position: static;
  }

  #research-highlights-blue-container + a {
    display: none;   /* Hide the blue arrow outside the box and show the white one */
  }

  .img-card, #img-card-2, #img-card-1, #news-container div, #notice-container div {
    text-align: left;
  }

  #news-container div, #notice-container div {
    width: 80%;
  }

}

@media (max-width: 340px) {
  #top-blue-container {
    height: 250px;
  }

  #bottom-blue-container button{
    width: 60%;
  }
}