main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px 56px 30px 56px;
}

img {
  width: 100%;
}


.toggle-menu {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0 20px 0;
}

.toggle-menu a {
  font-size: 1em;
  color: #686666;
  text-weight: 700;
}

.selected {
  color: #003377 !important;
}

.title-blue-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #003377;
  width: 100%;
  height: 145px;
  color: white;
  font-weight: 500;
}

.title-blue-box h1 {
  font-size: 3em;
  margin-left: 80px;
}

.title-blue-box h3 {
  font-size: 1.5em;
  margin-right: 80px;
}

.contents {
  padding: 0 80px 0 80px;
}

.top {
  color: #003377;
  width: 100%;
  padding: 60px 0 60px 0;
  text-align: center;
  font-size: 1.5em;
  line-height: 34px;
  letter-spacing: -0.02em;
  white-space: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.top img {
  width: 40px;
  height: 64px;
}

.paragraphs {
  padding: 0 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: left;
}

.paragraphs p {
  text-indent: 10px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.paragraphs > ul {
  list-style-type: disc;
  padding-left: 20px;
  display: inline-block;
}

.paragraphs > ul > li {
  list-style-type: disc;
  margin: 0 0 15px 0;
  display:list-item;
  list-style-position:outside;
}

@media (max-width: 800px) {
  main {
    padding: 60px 5% 0 5%;
  }

  .title-blue-box {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .title-blue-box h1 {
    margin: 0;
  }

  .title-blue-box h3 {
    display: none;
  }

  .contents {
    padding: 0 10% 0 10%;
  }
}