@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
  font-family: YonseiBold;
  src: url("/font/YonseiBold.ttf");
}

body {
  font-family: Pretendard;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: -0.019em;
  margin: 0;
  background-color: #ffffff;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.yonsei-logo {
  width:146px;
}

.vertical-line {
  border-left: 1px solid #686666;
  height: 32px;
  margin: 0;
  padding: 0;
}

.horizontal-line {
  border: 2px solid #000000;
  border-radius: 50em;
  width: 100%;
  margin: 0;
  padding: 0;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h-arrow {
  width: 64px;
}

.two-two-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

#footer-container{
  margin: 5rem 0 10rem 0;
  width: 100%;
}


@media (max-width: 800px) {
  body {
    text-align: center;
  }
}

/* Display Settings */

.hidden {
  display: none;
}

.flex {
  display: flex;
}